
@media screen and (max-width: 430px) {
    .main-media-links {
        /* padding: 10px 0px; */
        flex-direction: column;
    }

    .social-links {
        padding: 15px;
    }

    .say-hello-btn {
        margin-right: 0px;
        font-size: 1.2rem;
    }

    hr {
        display: none;
    }

    .media-tag {
        font-size: 1.8rem;
    }
    .about-me-text{
        max-width: 85%;
    }
    .card-skill{
        max-width: 100%;
    }
    .skills-card{
        width: 180px;
    }
}

@media screen and (max-width: 770px) {
    .about-me-text{
        max-width: 70%;
    }
    .menu-responsive {
        display: initial;
        font-size: 1.5rem;
    }
    .nav-items{
        display: none;
    }
    
    .project-img, .project-cnt{
     width: 100%;   
    }
    .projects-div{
        max-width: 95%;
    }
    .tech{
        width: 20px;
        height: 20px;
    }
    .collab-div{
        margin-top: -90px;
        padding: 10px;
        flex-direction: column;
    }
    .collab{
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    .footer-container{
        min-height: 50vh;
    }
}